body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

#calc-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 320px;             /* Limit the width*/
  margin: 50px auto;
  background-color: black;
  border-radius: 15px;
  overflow: hidden;
}

#display {
  background-color: black;
  color: white;
  font-size: 4em;
  text-align: right;
  padding: 10px 20px;
  box-sizing: border-box;
  min-height: 100px;
}